body, .App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  }


.App {
  text-align: center;
 
}

body {
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
}

.header, .footer {
  display: grid;
  grid-auto-flow: column;
  background-color: #2f3e46 ;
  align-items: center;

  color: #fff;

  padding: 28px;

}

.footer {
  padding: 32px;
  justify-content: center;
  gap: 8px;
}

/* Header */
.header {
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0 0.5rem;

}

.titleBox {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 8px;
}

.header a {
  text-decoration: none;
  color: white;
}

.header a:hover {
color: #CAD2C5;
}


/* Homepage column forms */


form {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: auto;
  justify-content: center;
  gap: 8px;
}


.row

  {
  display: grid;
  grid-auto-flow: column;
}


.firstCol {
  display: grid;
  grid-column: 1 / 2;
}


.secondCol {
  display: grid;
  grid-column: 2 / 3;
}

.bothCol {
  grid-column: 1 / 3;
}

.homepage 
.first {
  grid-row: 1;
}


.second.row {
  grid-row: 2;
}


.third.row {
  grid-row: 3;
}


.fourth.row {
  grid-row: 4;
}

.fifth.row {
  grid-row: 5;
}


.sixth.row {
  grid-row: 6;
}

 .seventh.row {
  grid-row: 7;
}


form 
label {
  width: 200px;
}


.row input[type="number"], .row select {
  width: 20rem;
  height: 36px;
}


/* Imperial and Metric buttons */


.unitBtns {
  display: inline-flex;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.unitBtns input {
  display: none;
}

.unitBtns label {
  padding: 8px 14px;
  font-size: 14px;
  background-color: white;
  color: #84A98C;
  cursor: pointer;
  transition: background 0.1s;
}

.unitBtns label:not(:last-of-type) {
  border-right: 1px solid #566e5c ;
}

.unitBtns input:checked + .unitLabel {
  background-color: #84A98C;
  color: #fff;
}


/* Weight table select styles */
.select {
  padding: 8px 12px;
  color: #333333;
  background-color: #eeeeee;
  border: 1px solid #dddddd;
  cursor: pointer;
  border-radius: 5px;
  padding-right: 30px;

}

.select:hover, .select:focus {
  outline: none;
  border: 1px solid #bbbbbb;
}

.select option {
  background: #ffffff;
}

.select option:hover {
  background-color: #84A98C;
}



/* Gender buttons */

.homepage .first {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 8px;
  gap: 4px;
}

.genderInput {
  display: none;
}

.genderLabel {
  color: black;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 25px;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 110px;
}

.genderLabel:before {
  content: "";
  height: 25px;
  width: 25px;
  border: 3px solid #52796F;

  border-radius: 50%;
  margin-right: 18px;
}

.genderInput:checked + .genderLabel {
  background-color:#52796F;
  color: white;
}

.genderInput:checked + .genderLabel:before {
  height: 14px;
  width: 14px;
  border: 8px solid white;
  background-color: #52796F;
}


/* Submit button */
.submitBtn, .submitBtn:disabled {
  border-radius: 15px;
  background-color: #84A98C;
  color: #fff;
  font-weight: bold;
  height: 2rem;
  width: 6rem;
  border: none;
}

.submitBtn:disabled {
  background-color: #ced4da;
  pointer-events: none;
}

.submitBtn:hover {
  background-color:white;
  color:#84A98C;
  cursor: pointer;
  border: 2px solid #84A98C;
}



/* Table Styles */

.weightTablePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weightTable {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9rem;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}

.weightTable thead tr {
  background-color: #84A98C;
  color: #fff;
  text-align: left;
  font-weight: bold;
}

.weightTable th, .weightTable td {
  padding: 12px 15px;

}

.weightTable tbody tr {
   border-bottom: 1px solid #ddd;
}

.weightTable tbody tr:nth-last-of-type(even) {
  background-color: #f3f3f3;
}

.weightTable tbody tr:last-of-type {
  border-bottom: 2px solid #84A98C;
}

.weightTable tbdoy tr:active {
  font-weight: bold;
  color: #84A98C;
}


/* BMI calculator */

.bmiCalc, .homepage, .weightTablePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.bmiInfo {
  border: 2.5px solid #84A98C;
  width: 30rem;
  border-radius: 10px;
}